<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- 
⁕we use firebase because it is the only backend service which interacts directly
with the angular frontend.
⁕In typescript every object must have a type and an interface which
will act as its type.
⁕ng s --cofiguration production {for production serve}.
⁕header/footer in layout folder.
⁕component in components folder.
⁕page in pages folder.

new project with header,footer, home,about,contact
firebase->collectin(unique name/ array of documents) & documents(docId/ documents are objects) 
⁕await if for the functions which promises data return. await works only if its under async
⁕...doc.data means break the data in key value pair-->