*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
table tr th,td{
    padding: 7px;
}
table, th, td {
    border: 1px solid black;
  }
  .btn.btn-success{
    margin: 20px;
    padding: 3px;
  }